# Security
ignore-scripts=true
strict-ssl=true

# Dependency resolution
auto-install-peers=true
strict-peer-dependencies=false

# Lockfile & reproducibility
prefer-frozen-lockfile=true

# Node modules isolation
shamefully-hoist=false

# Side effects caching
side-effects-cache=true
